<template>
    <div class="submit">
        <button class="btn btn-outline-secondary" @click="cancelButton()">Cancel</button>
        <button class="btn btn-outline-primary" @click="previousButton()">Previous</button>
        <button class="btn btn-outline-primary" @click="nextButton()">Next</button>
        <button class="btn btn-outline-success" @click="submitButton()">submit</button>
    </div>
</template>

<script>
    export default {
        name: "QuestionButton",
        props: {
            virtualService: {
                type: Function,
                required: true
            },
            pageNumber: {
                type: Number,
                required: true,
            },
            pageSize: {
                type: Number,
                required: true,
            },
            pageCount: {
                type: Number,
                required: true,
            },
        },
        methods: {
            cancelButton () {
                this.pageNumber =  1
                this.virtualService({
                    pageNumber: this.pageNumber,
                    pageSize: this.pageSize
                })
            },
            previousButton () {
                if (this.pageNumber > 1) {
                    this.pageNumber -= 1
                    this.virtualService({
                        pageNumber: this.pageNumber,
                        pageSize: this.pageSize
                    })
                }
            },
            nextButton () {
                if (this.pageNumber < this.pageCount) {
                    this.pageNumber  += 1
                    this.virtualService({
                        pageNumber: this.pageNumber,
                        pageSize: this.pageSize
                    })
                }
            },
            submitButton () {
                this.pageNumber = this.pageCount
                this.virtualService({
                    pageNumber: this.pageNumber,
                    pageSize: this.pageSize
                })
            },
        },

        computed: {
            changePageNumber () {
                return this.pageNumber
            }
        }
    }
</script>

<style scoped>

</style>