<template>
    <div class="quest">
        <div class="question" v-for="(question, index) in questions">
            <p><span> Question  {{index + 1}}: </span>{{question.Quest}}</p>
            <div class="option">
                <p><span>A </span> {{question.A}} </p>
                <p><span>B </span> {{question.B}}</p>
                <p><span>C </span> {{question.C}}</p>
                <p><span>D </span>{{question.D}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Question",

        props: {
            questions: {
                type: Array,
                required: true,
            }
        }
    }
</script>

<style scoped>
    .question {
        margin-top: 40px;
    }
    h2 {
        font-family: "Nunito", sans-serif;
        color: #000000;
    }
    p span {
        font-weight: bolder;
        font-size: 1.3em;
        padding-right: 20px;
    }
    .option p {
        margin-left: 25px;
        cursor: pointer;
    }
</style>