<template>
    <div class="main">
        <h4>Please in this section question take your time to answer question with absolute</h4>
        <div class="question-layout">
            <question-layout :questions="questions"></question-layout>
        </div>
        <div class="submit">
            <question-button
                    :virtualService="virtualService"
                    :pageNumber="pageSize"
                    :pageCount="pageCount"
                    :pageSize="pageSize"
                ></question-button>
        </div>
    </div>
</template>

<script>
    import QuestionLayout from './Quest'
    import QuestionButton from './QuestionButton'

    export default {
        components: {
            QuestionLayout,
            QuestionButton
        },
        data () {
            return {
                questions: [],
                pageNumber: 1,
                pageSize: 2,
                pageCount: 0,
            }
        },
        methods: {
            initial () {
                this.virtualService({
                    pageNumber: this.pageNumber,
                    pageSize: this.pageSize
                })
            },
            page (pageNumber) {
                this.virtualService({
                    pageNumber: pageNumber,
                    pageSize: this.pageSize,
                })
            },
            count (condition) {
                return this.virtualDataFromDb().length
            },
            virtualDataFromDb () {
                var questions = [
                    {
                        Question: 'Which of following command starts a REPL session?',
                        A: '$ Node',
                        B: '$ Node Start',
                        C: '$ Node repl',
                        D: '$ Node console'
                    },
                    {
                        Question: 'Which of the following is true about package.json?',
                        A: 'package.json is present in the root directory of any Node application/module.',
                        B: ' package.json is used to define the properties of a package.',
                        C: ' package.json can be used to update dependencies of a Node application.',
                        D: 'All of the Above'
                    },
                    {
                        Question: 'Which of the following is true about readable stream?',
                        A: 'Readable stream is used for read operation.',
                        B: 'Output of readable stream can be input to a writable stream.',
                        C: 'Both of the above.',
                        D: 'None of the above.'
                    },

                    {
                        Question: 'Which method of fs module is used to close a file?',
                        A: 'fs.close(fd, callback)',
                        B: 'fs.closeFile(fd, callback)',
                        C: 'fs.closePath(fd, callback)',
                        D: 'None of the above.'
                    },
                    {
                        Question: 'Which of the following is true about __filename global object?',
                        A: ' The __filename represents the filename of the code being executed.',
                        B: 'The __filename represents the resolved absolute path of code file.',
                        C: ' Both of the above.',
                        D: 'None of the above..'
                    },
                    {
                        Question: 'Which of the following code prints memory usage?',
                        A: 'console.log(process.memoryUsage());',
                        B: 'console.log(\'Current version: \' + process.memory());.',
                        C: 'console.log(\'Current version: \' + process.getMemory());.',
                        D: 'None of the above.'
                    },

                    {
                        Question: 'Which of the following API creates a server?',
                        A: 'net.createServer([options][, connectionListener])',
                        B: 'net.connect(options[, connectionListener])',
                        C: 'net.createConnection(port[, host][, connectListener])',
                        D: 'None of the above.'
                    },

                    {
                        Question: 'Which of the following module is required for exception handling in Node?',
                        A: 'Web Module',
                        B: 'net module',
                        C: 'domain module',
                        D: 'error module.'
                    },
                    {
                        Question: 'Which of the following is true about external binding with respect to domain module?',
                        A: 'Error emmitter is executing its code within run method of a domain.',
                        B: 'Error emmitter is added explicitly to a domain using its add method.',
                        C: 'both of the above',
                        D: 'none of the above.'
                    },

                    {
                        Question: 'Duplex stream can be used for both read and write operation.',
                        A: 'true',
                        B: 'true',
                    },
                    {
                        Question: 'Which of following command starts a REPL session?',
                        A: '$ Node',
                        B: '$ Node Start',
                        C: '$ Node repl',
                        D: '$ Node console'
                    },
                    {
                        Question: 'Which of the following is true about package.json?',
                        A: 'package.json is present in the root directory of any Node application/module.',
                        B: ' package.json is used to define the properties of a package.',
                        C: ' package.json can be used to update dependencies of a Node application.',
                        D: 'All of the Above'
                    },
                    {
                        Question: 'Which of the following is true about readable stream?',
                        A: 'Readable stream is used for read operation.',
                        B: 'Output of readable stream can be input to a writable stream.',
                        C: 'Both of the above.',
                        D: 'None of the above.'
                    },

                    {
                        Question: 'Which method of fs module is used to close a file?',
                        A: 'fs.close(fd, callback)',
                        B: 'fs.closeFile(fd, callback)',
                        C: 'fs.closePath(fd, callback)',
                        D: 'None of the above.'
                    },
                    {
                        Question: 'Which of the following is true about __filename global object?',
                        A: ' The __filename represents the filename of the code being executed.',
                        B: 'The __filename represents the resolved absolute path of code file.',
                        C: ' Both of the above.',
                        D: 'None of the above..'
                    },
                    {
                        Question: 'Which of the following code prints memory usage?',
                        A: 'console.log(process.memoryUsage());',
                        B: 'console.log(\'Current version: \' + process.memory());.',
                        C: 'console.log(\'Current version: \' + process.getMemory());.',
                        D: 'None of the above.'
                    },

                    {
                        Question: 'Which of the following API creates a server?',
                        A: 'net.createServer([options][, connectionListener])',
                        B: 'net.connect(options[, connectionListener])',
                        C: 'net.createConnection(port[, host][, connectListener])',
                        D: 'None of the above.'
                    },

                    {
                        Question: 'Which of the following module is required for exception handling in Node?',
                        A: 'Web Module',
                        B: 'net module',
                        C: 'domain module',
                        D: 'error module.'
                    },
                    {
                        Question: 'Which of the following is true about external binding with respect to domain module?',
                        A: 'Error emmitter is executing its code within run method of a domain.',
                        B: 'Error emmitter is added explicitly to a domain using its add method.',
                        C: 'both of the above',
                        D: 'none of the above.'
                    },

                    {
                        Question: 'Duplex stream can be used for both read and write operation.',
                        A: 'true',
                        B: 'true',
                    },
                ]
                for (let i in questions ){
                    var qCount = questions.indexOf(questions[i])
                    questions.push(questions[i], qCount)
                    // console.log(qCount)
                }
                return questions;
            },
            queryFromVirtualDB (condition, startRow, endRow) {
                var result = []
                var condition = {}
                var data = this.virtualDataFromDb()
                var count = this.count(condition)
                for (var i = startRow - 1; i < endRow; i++){
                    if(i < count) {
                        result.push(data[i])
                    }
                }
                return result
            },
            virtualService (params) {
                var condition = {}
                var pageNumber = params.pageNumber
                var pageSize = params.pageSize
                var pageCount = Math.ceil(this.count(condition)/pageSize)

                if (pageNumber === 0) pageNumber = 1
                if (pageNumber < 0) pageNumber = pageCount
                else if (pageNumber > pageCount) pageCount = pageCount
                var startRow = (pageNumber - 1) * pageSize + 1
                var endRow = startRow + pageSize - 1
                var data = this.queryFromVirtualDB(condition, startRow, endRow)
                this.questions = data
                this.pageNumber = pageNumber
                this.pageCount = pageCount
            }
        },
        mounted() {
            this.initial()
        }
    }
</script>

<style scoped>
</style>