<template>
    <div class="main">
        <article id="pagination">
            <section class="hero is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Vue.js</h1>
                        <h2 class="subtitle">Simple Pagination</h2>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="question in questions">
                                    <td>{{question.question}}</td>
                                    <td>{{question.A}}</td>
                                    <td>{{question.B}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <nav class="pagination">
                                            <a @click="previous()" class="button">Previous</a>
                                            <a @click="next()" class="button">Next page</a>
                                            <ul>
                                                <li v-for="p in pageCount">
                                                    <a v-if="pageNo == p" v-on:click="page(p)" class="button is-primary">{{p}}</a>
                                                    <a v-else @click="page(p)" class="button">{{p}}</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <button  @click="cancel()" class="button">First</button>
                                        <button @click="previous()" class="button">Prev</button>
                                        <span style="padding-top:1em;">{{pageNo}}/{{pageCount}}</span>
                                        <button @click="next()" class="button">Next</button>
                                        <button @click="submit()" class="button">Last</button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</template>

<script>
    export default {
        props: {
            pageNumber: {
                type: Number,
                required: true,
            },
            pageSize: {
                type: Number,
                required: true,
            },
            pageCount: {
                type: Number,
                required: true,
            },
        },

        methods: {
            init (){
                this.virtualService({
                    pageNo: this.pageNo,
                    pageSize: this.pageSize
                });
            },
            page (pageNo) {

                this.virtualService({
                    pageNo: pageNo,
                    pageSize: this.pageSize
                });
            },
            cancel () {
                this.pageNo = 1;
                this.virtualService({
                    pageNo:this.pageNo,
                    pageSize:this.pageSize
                });
            },
            submit () {
                this.pageNo = this.pageCount;
                this.virtualService({
                    pageNo:this.pageNo,
                    pageSize:this.pageSize
                });
            },
            previous () {
                if(this.pageNo > 1){
                    this.pageNo -= 1;
                    this.virtualService({
                        pageNo:this.pageNo,
                        pageSize:this.pageSize
                    });
                }
            },
            next () {
                if(this.pageNo < this.pageCount) {
                    this.pageNo += 1;
                    this.virtualService({
                        pageNo:this.pageNo,
                        pageSize:this.pageSize
                    });
                }
            },
            virtualDataFromDb () {
                var questions = [
                    {
                        Questiion: 'Which of following command starts a REPL session?',
                        A: '$ Node',
                        B: '$ Node Start',
                        C: '$ Node repl',
                        D: '$ Node console'
                    },
                    {
                        Questiion: 'Which of the following is true about package.json?',
                        A: 'package.json is present in the root directory of any Node application/module.',
                        B: ' package.json is used to define the properties of a package.',
                        C: ' package.json can be used to update dependencies of a Node application.',
                        D: 'All of the Above'
                    },
                    {
                        Questiion: 'Which of the following is true about readable stream?',
                        A: 'Readable stream is used for read operation.',
                        B: 'Output of readable stream can be input to a writable stream.',
                        C: 'Both of the above.',
                        D: 'None of the above.'
                    },

                    {
                        Questiion: 'Which method of fs module is used to close a file?',
                        A: 'fs.close(fd, callback)',
                        B: 'fs.closeFile(fd, callback)',
                        C: 'fs.closePath(fd, callback)',
                        D: 'None of the above.'
                    },
                    {
                        Questiion: 'Which of the following is true about __filename global object?',
                        A: ' The __filename represents the filename of the code being executed.',
                        B: 'The __filename represents the resolved absolute path of code file.',
                        C: ' Both of the above.',
                        D: 'None of the above..'
                    },
                    {
                        Questiion: 'Which of the following code prints memory usage?',
                        A: 'console.log(process.memoryUsage());',
                        B: 'console.log(\'Current version: \' + process.memory());.',
                        C: 'console.log(\'Current version: \' + process.getMemory());.',
                        D: 'None of the above.'
                    },

                    {
                        Questiion: 'Which of the following API creates a server?',
                        A: 'net.createServer([options][, connectionListener])',
                        B: 'net.connect(options[, connectionListener])',
                        C: 'net.createConnection(port[, host][, connectListener])',
                        D: 'None of the above.'
                    },

                    {
                        Questiion: 'Which of the following module is required for exception handling in Node?',
                        A: 'Web Module',
                        B: 'net module',
                        C: 'domain module',
                        D: 'error module.'
                    },
                    {
                        Questiion: 'Which of the following is true about external binding with respect to domain module?',
                        A: 'Error emmitter is executing its code within run method of a domain.',
                        B: 'Error emmitter is added explicitly to a domain using its add method.',
                        C: 'both of the above',
                        D: 'none of the above.'
                    },

                    {
                        Questiion: 'Duplex stream can be used for both read and write operation.',
                        A: 'true',
                        B: 'true',
                    },
                    {
                        Questiion: 'Which of following command starts a REPL session?',
                        A: '$ Node',
                        B: '$ Node Start',
                        C: '$ Node repl',
                        D: '$ Node console'
                    },
                    {
                        Questiion: 'Which of the following is true about package.json?',
                        A: 'package.json is present in the root directory of any Node application/module.',
                        B: ' package.json is used to define the properties of a package.',
                        C: ' package.json can be used to update dependencies of a Node application.',
                        D: 'All of the Above'
                    },
                    {
                        Questiion: 'Which of the following is true about readable stream?',
                        A: 'Readable stream is used for read operation.',
                        B: 'Output of readable stream can be input to a writable stream.',
                        C: 'Both of the above.',
                        D: 'None of the above.'
                    },

                    {
                        Questiion: 'Which method of fs module is used to close a file?',
                        A: 'fs.close(fd, callback)',
                        B: 'fs.closeFile(fd, callback)',
                        C: 'fs.closePath(fd, callback)',
                        D: 'None of the above.'
                    },
                    {
                        Questiion: 'Which of the following is true about __filename global object?',
                        A: ' The __filename represents the filename of the code being executed.',
                        B: 'The __filename represents the resolved absolute path of code file.',
                        C: ' Both of the above.',
                        D: 'None of the above..'
                    },
                    {
                        Questiion: 'Which of the following code prints memory usage?',
                        A: 'console.log(process.memoryUsage());',
                        B: 'console.log(\'Current version: \' + process.memory());.',
                        C: 'console.log(\'Current version: \' + process.getMemory());.',
                        D: 'None of the above.'
                    },

                    {
                        Questiion: 'Which of the following API creates a server?',
                        A: 'net.createServer([options][, connectionListener])',
                        B: 'net.connect(options[, connectionListener])',
                        C: 'net.createConnection(port[, host][, connectListener])',
                        D: 'None of the above.'
                    },

                    {
                        Questiion: 'Which of the following module is required for exception handling in Node?',
                        A: 'Web Module',
                        B: 'net module',
                        C: 'domain module',
                        D: 'error module.'
                    },
                    {
                        Questiion: 'Which of the following is true about external binding with respect to domain module?',
                        A: 'Error emmitter is executing its code within run method of a domain.',
                        B: 'Error emmitter is added explicitly to a domain using its add method.',
                        C: 'both of the above',
                        D: 'none of the above.'
                    },

                    {
                        Questiion: 'Duplex stream can be used for both read and write operation.',
                        A: 'true',
                        B: 'true',
                    },
                ];
                for( var i in questions){
                    questions.push(questions[i]);
                }
                return questions;
            },
            count: function(condition){
                return this.virtualDataFromDb().length;
            },
            queryFromVirtualDB (condition, startRow, endRow){
                var result = [];
                var condition = {};
                var data = this.virtualDataFromDb();
                var count = this.count(condition);
                for(var i = startRow - 1; i < endRow; i++) {
                    if(i < count){
                        result.push(data[i]);
                    }
                }
                return result;
            },
            virtualService: function(params)php{
                var condition = {};
                var pageNo = params.pageNo;
                var pageSize = params.pageSize;
                var pageCount = Math.ceil(this.count(condition) / pageSize);

                if (pageNo == 0) pageNo = 1;
                if (pageNo < 0) pageNo = pageCount;
                else if (pageNo > pageCount) pageNo = pageCount;
                var startRow = (pageNo - 1) * pageSize + 1;
                var endRow = startRow + pageSize - 1;
                var data = this.queryFromVirtualDB(condition, startRow, endRow);

                // set result
                this.questions = data;
                this.pageNo = pageNo;
                this.pageCount = pageCount;

            }
        },
        // ready
        mounted (){
            this.init();
        }
    }
</script>